.volume {
    width: 100px;
    margin-top: 20px;
    input[type=range] {
        opacity: 0;
    }
    .rangeslider--horizontal {
        height: 5px;
        .rangeslider__handle {
            top: -6px;

            width: 15px;
            height: 15px;
            &::after {
                width: 8px;
                height: 8px;
            }
        }
    }
}
