body,
html,
.page-container {
    height: 100%;
}

.islider-wrapper {
    height: 100%;

    > ul {
        height: 100%;

        > li {
            height: 100%;
        }
    }
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.page-1 {
    background-color: red;
    .top-appear-active {
        transition: transform .6s ease-in-out;
    }

    .top-appear {
        transform: translateY(-50px);
    }
}

.page-2 {
    background-color: green;
}



.box {
    width: 100px;
    height: 100px;
    background-color: green;

}
