<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>地球大清厨</title>
    <link rel="stylesheet" href="/assets/clear/clear.css">
    <script src="/assets/common.js"></script>
    <script src="/assets/lib.js"></script>
    <script src="/assets/core.js"></script>
</head>

<body>
    <div id="app" class="page-container">
        <div class="page page-1" id="j-page-1">
            <transition  appear appear-class="top-appear" appear-active-class="top-appear-active">
                <div class="box">
                    {{title}}
                </div>
            </transition>
        </div>
        <div id="j-islider-wrapper" class="islider-wrapper"></div>
    </div>
    <script src="/assets/clear/clear.js"></script>
</body>

</html>
