<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>page demo</title>
    <link rel="stylesheet" href="/assets/demo/demo.css">
    <script src="/assets/common.js"></script>
    <script src="/assets/lib.js"></script>
    <script src="/assets/core.js"></script>
    <script src="/assets/base.js"></script>
</head>

<body>
    <div class="container">
        <ul id="j-messages" class="list-unstyled"></ul>
        <hr/>
        <form role="form" id="j-form">
            <div class="form-group">
                <input class="form-control" type="text" id="j-message" placeholder="Type text to echo in here" autofocus/>
            </div>
            <button type="button" id="j-send" class="btn btn-primary">Send Message</button>
        </form>
        <div class="form-group"><span>nikename：</span><input id="j-name" type="text" />
            <button class="btn btn-sm btn-info" id="j-change-name">change</button></div>
    </div>
    <script src="/assets/demo/demo.js"></script>
</body>

</html>
