<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>艺典-最专业的艺术品交易平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>webpack 2 demo</title>
    <link rel="stylesheet" href="/assets/index/index.css">
    <script src="/assets/common.js"></script>
    <script src="/assets/lib.js"></script>
    <script src="/assets/core.js"></script>
    <script src="/assets/base.js"></script>
</head>

<body>
    <div id="app">
        <div class="panel standard">
            <div class="panel-title">标题</div>
            <div class="panel-body">
                {box-sizing: border-box;}
                {{name}}
            </div>
        </div>
        <div class="panel monstrous">
            <div class="panel-title">标题</div>
            <div class="panel-body">
                {box-sizing: border-box;}
                {{name}}
            </div>
        </div>
    </div>
    <script src="/assets/index/index.js"></script>
</body>

</html>
