<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>page demo</title>
    <link rel="stylesheet" href="/assets/demo/demo.css">
    <script src="/assets/common.js"></script>
    <script src="/assets/lib.js"></script>
    <script src="/assets/core.js"></script>
    <script src="/assets/base.js"></script>
</head>

<body>
    <div id="example">
        <button @click="show = !show">toggle</button>
        <br>
        <btn-transition>
            <button v-if="show" key="1">11111</button>
            <button v-else key="2">0000</button>
        </btn-transition>
        <br>
        <transition mode="out-in" enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
            <button v-if="show" key="1">11111</button>
            <button v-else key="2">0000</button>
        </transition>
        <br>
        <input v-model="query">
        <transition-group class="list" name="staggered-fade" tag="ul" @before-enter="beforeEnter" @enter="enter" @leave="leave" :css="false">
            <li class="item" v-for="(item, index) in computedList" :key="item.msg" :data-index="index">
                {{item.msg}}
            </li>
        </transition-group>
    </div>

    <script src="/assets/demo/demo.js"></script>
</body>

</html>
