<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>page demo</title>
    <link rel="stylesheet" href="/assets/index/index.css">
    <script src="/assets/common.js"></script>
    <script src="/assets/lib.js"></script>
    <script src="/assets/core.js"></script>
    <!-- <script src="/assets/base.js"></script> -->
</head>

<body>
    <div id="app" class="box">
        <ul class="list">
            <li class="item" v-for="item in links">
                <a v-bind:href="item.link">{{item.name}}</a>
            </li>
        </ul>
    </div>
    <script src="/assets/index/index.js"></script>
</body>

</html>
