.spec {
    margin-bottom: 5px;

    .name,
    .value {
        display: inline-block;

        padding: 5px 10px;

        cursor: default;
    }
    .name {
        margin-right: 10px;
    }
    .value {
        margin-right: 5px;

        background-color: #f5f5f5;
        &.disabled {
            color: #ccc;
        }
        &.selected {
            color: #fff;
            background-color: #fe5f04;
        }
    }
}
.spec-selected dt,
.spec-unselected dt {
    color: red;
}
