<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>page demo</title>
    <link rel="stylesheet" href="/assets/demo/demo.css">
    <script src="/assets/common.js"></script>
    <script src="/assets/lib.js"></script>
    <script src="/assets/core.js"></script>
    <!-- <script src="/assets/base.js"></script> -->
</head>

<body>
    <div id="example">
        <div class="message-panel">
            <div class="rel">
                <div class="shadow" id="j-message-shadow"></div>
            </div>
            <ul class="list" id="j-message-list" :class="{'scroll': isScroll}" @mousewheel="isScroll = true" @mouseleave="isScroll = false">
                <li v-for="(item, index) in list" class="item">
                    <span class="message j-message">{{item}}</span>
                </li>
            </ul>
        </div>
        <div class="send-panel">
            <input type="text" name="" value="" v-model="text">
            <button @click="sendMessage">发送</button>
        </div>
    </div>
    <script src="/assets/demo/demo.js"></script>
</body>

</html>
