<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>page demo</title>
    <link rel="stylesheet" href="/assets/demo/demo.css">
    <script src="/assets/common.js"></script>
    <script src="/assets/lib.js"></script>
    <script src="/assets/core.js"></script>
    <!-- <script src="/assets/base.js"></script> -->
</head>

<body>
    <div id="app" class="box">
        <div class="spec" v-for="spec in specs" v-if="specs">
            <span class="name">{{spec.displayName}}</span>
            <span class="value" v-for="specOption in spec.specOptions" v-on:click="chooseSpecOption(spec.displayName, specOption)" v-bind:class="{'disabled': specValueStatus[specOption.specValue].disabled, 'selected': specValueStatus[specOption.specValue].selected }">
                {{specOption.specValue}}
            </span>
        </div>
        <dl class="spec-selected">
            <dt>已选择</dt>
            <dd>{{selectedSpecValueArr}}</dd>
        </dl>
        <dl class="spec-unselected">
            <dt>请选择</dt>
            <dd>{{unselectedSpecKeyArr}}</dd>
        </dl>
        <div>
            <br> 对应的货品id是 {{selectedCommodityId}}
        </div>
    </div>
    <script src="/assets/demo/demo.js"></script>
</body>

</html>
