<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>page two</title>
    <link rel="stylesheet" href="/assets/two/two.css">
    <script src="/assets/common.js"></script>
    <script src="/assets/lib.js"></script>
    <script src="/assets/core.js"></script>
    <script src="/assets/base.js"></script>
</head>
<body>
    <div>test</div>
    <script src="/assets/two/two.js"></script>
</body>

</html>
